.App {
  text-align: center;
}

html {
  font-size: 16px;
}

body {
  font-family: "ibm";
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}
p {
  margin: 0;
}

/* IBM Fonts */
@font-face {
  font-family: ibm;
  src: url(../public/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: ibm;
  src: url(../public/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: ibm;
  src: url(../public/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Medium.ttf);
  font-weight: 500;
}

/* Loader In Backdrop */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 15px;
  box-sizing: border-box;
  border: 60px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
