.App {
  text-align: center;
}

body {
  font-family: "ibm";
  background-color: #0052d0 !important;
}
p {
  margin: 0;
}

/* IBM Fonts */
@font-face {
  font-family: ibm;
  src: url(../public/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: ibm;
  src: url(../public/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: ibm;
  src: url(../public/fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Medium.ttf);
  font-weight: 500;
}
